<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <ul class="navbar navbar-nav">
    <li>
      <button  type="button" (click)="onGetAllOffers()" class="btn btn-success m-1">All</button>

    </li>

    <li>
      <button (click)="onGetAvailableOffers()"    class="btn btn-success m-1">Available</button>
    </li>
    <li>
      <button (click)="onNewOffer()"    class="btn btn-secondary m-1">New</button>
    </li>

  </ul>

  <ul class="nav navbar-nav  navbar-right m-auto">
    <li><app-recherche></app-recherche></li>
  </ul>
</nav>
<router-outlet></router-outlet>
